* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #232323;
    background-image: url(images/menu-background-cropped.svg);
    background-position: center center;
    background-size: cover;
    color: black;
    font-size: 12px;
    object-fit: contain;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

small {
    color: rgb(23, 23, 23);
    pointer-events: none;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 124.95025vh;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: center center;
}


#grid-container-hex {
    width: 100%;
    padding: 0; /* Clears unordered list default of 40px */
    padding-right: 12.74%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
#grid-container-hex li * {
    visibility: visible
}
#grid-container-hex li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    margin: 0 0 0 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden
}
#grid-container-hex li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F4E646;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#grid-container-hex li:nth-child(3n + 2) {
    margin: 0 1%;
}
#grid-container-hex li:nth-child(6n+4), #grid-container-hex li:nth-child(6n+5), #grid-container-hex li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#grid-container-hex li:nth-child(6n+4) { 
    margin-left: 0.5%;
}


.button {
    width: 85%;
    height: calc(87.5% * 0.85);
    margin: 0 auto;
    font-size: 1px;
}
.button:after {
    content: "";
    display: block;
    padding: 100%;
}
.frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hex-outer:hover .hex-inner {
    height: 95%;
    border-radius: 25px;
    cursor: pointer;
}
.hex-outer:hover .hex-outer {
    cursor: pointer;
}
.hex-outer:hover .label {
    transform: rotate(-240deg) scale(1.3, 1.3);
}
.hex-outer {
    background: #FAA808;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.hex-inner {
    background: #FCC90C;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    transition: all 0.5s;
}
.h1 {
    width: 100%;
    height: 57.142857%;
}
.h2 {
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
.h3 {
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
.h1-inner {
    width: 90%;
    height: 90%;
}
.h2-inner {
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
.h3-inner {
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    object-fit: contain;
}
.label {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2vmin;
    font-weight: bold;
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    object-fit: contain;
}


.modal-window {
    position: fixed;
    background-image: url("images/modal-background.svg");
    background-position: center center;
    background-size: auto 130vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -o-webkit-transition: all 1.5s;
    -o-moz-transition: all 1.5s;
    transition: all 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-tint {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(23, 23, 23, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-border {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    background-color: rgba(225, 225, 225, 0.65);
    overflow: auto;
    border-radius: 3vh;
    box-shadow: 1px 1px 10px 10px rgba(225, 225, 225, .65);
    max-height: 90vh;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-window ::-webkit-scrollbar {
    width: 5px;
}
.modal-window ::-webkit-scrollbar-track {
    background: rbga(0, 0, 0, 0); 
}
.modal-window ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px
}
.modal-window ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}
.modal-content > div {
    pointer-events: none;
}
.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    padding-top: 1vw;
    font-family: "Inconsolata";
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.modal-window small{
    color: rgb(23, 23, 23);
    pointer-events: none;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.modal-back {
    color: rgb(68, 68, 68);
    line-height: 25px;
    font-size: 80%;
    width: 50px;
    text-decoration: none;
    align-self: flex-end;
    text-align: center;
    border-radius: 3vh 1vh 3vh 1vh;
}
.modal-back:hover {
    color: black;
    background-color: rgba(23, 23, 23, 0.1);
}